/*******************************************************************************
                                  Main Layout
*******************************************************************************/
/**********************
 Theme color variables
**********************/
:root {
  --primary-color: #2196f3;
  --primary-color-light: #6ec6ff;
  --primary-color-dark: #0069c0;
  --secondary-color: #263238;
  --secondary-color-light: #e0e0e0;
  --secondary-color-dark: #000a12;
}

/***************************************
 Responsive layout and basic page style
***************************************/
body {
  font-family: monospace;
  max-width: 100%;
  background-color: var(--secondary-color-light);
  mix-blend-mode: soft-light;
}

.container {
  max-width: 100vw;
  min-height: 100vh;
  nax-height: 100vh;
}

.page-header {
  font-size: 2em;
  /* Sticky header */
  position: fixed;
  width: 100vw;
  /* Declare height to support navigation positioning for sticky top-nav */
  height: 5%;
  margin: 0;
  text-align: center;
  color: white;
  background-color: var(--primary-color-dark);
  z-index: 1;
}

/*******************************************************************************
                    Sticky Top Navigation - Project Resources
*******************************************************************************/
/* Set top navigation to stick below page header */
.top-nav {
  top: 5%;
  z-index: 1;
}

/************************
 Criteria Dropdown Menu
************************/
.dropdown {
  font-size: 1em;
  overflow: hidden;
}

.dropdown-button {
  /* Important for vertical align on mobile phones */
  margin: 0;
  padding: 2%;
  color: var(--secondary-color-dark);
  border: none;
  outline: none;
  background-color: inherit;
}

.dropdown-content {
  position: absolute;
  z-index: 1;
  display: none;
  color: var(--secondary-color-dark);
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}

.dropdown-content .dropdown-link {
  display: block;
  float: none;
  text-align: left;
  text-decoration: none;
}

.dropdown-link:hover {
  color: var(--secondary-color-dark);
  background-color: var(--primary-color-light);
  mix-blend-mode: hard-light;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*******************************************************************************
                          Shared Navigation Styles
*******************************************************************************/
/*********************************
 Consistent navigation link style
*********************************/
.top-nav .nav-link,
.dropdown-link {
  font-size: .95em;
  float: left;
  /* Keep link close to 48px on mobile view so it's easily tappable */
  padding: 3%;
  text-align: center;
  text-decoration: none;
  color: var(--secondary-color);
}

.top-nav .nav-link:hover,
.dropdown:hover .dropdown-button,
.bottom-nav .nav-link:hover {
  color: white;
  background-color: var(--secondary-color);
}

/*****************************************
 Top and bottom navigation general styles
*****************************************/
.top-nav,
.bottom-nav {
  font-family: Arial;
  position: sticky;
  background-color: var(--primary-color-light);
}

/*******************************************************************************
              Bottom Navigation - General Resources & Contribution
*******************************************************************************/
.bottom-nav {
  bottom: 0;
  padding: 1% 0;
}

.show {
  font-size: 1.95em;
  position: absolute;
  bottom: 0;
  padding: 1% 5% 0 5%;
  color: black;
}

.right {
  right: 0;
}

/* Hide extra external resources in mobile view due to size constraints */
.hide {
  visibility: hidden;
}

/*******************************************************************************
                            Criteria resource cards
*******************************************************************************/
/**********************
 Criteria Container
**********************/
.criterias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.criteria-header {
  font-size: 1.7em;
  margin: 0;
  padding: 0;
  color: var(--primary-color-light);
  background-color: var(--secondary-color-dark);
  mix-blend-mode: hard-light;
}

.criteria {
  margin: 1%;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

/****************
 Type subsection
****************/
.type-header {
  font-size: 1.4em;
  font-weight: 800;
  margin: 0;
  opacity: .9;
  color: var(--secondary-color-dark);
  background-color: var(--primary-color-light);
  mix-blend-mode: hard-light;
}

/**************
 Resource link
**************/
.resource {
  font-family: Arial;
  margin: 1%;
  border: 2px groove var(--secondary-color-dark);
  border-radius: 5px;
  background-color: var(--primary-color-light);
  box-shadow: 2px 1px 6px var(--secondary-color-light);
}

.resource:hover {
  background-color: var(--primary-color);
}

.link {
  text-decoration: none;
  color: var(--secondary-color-dark);
}
