body {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
}

.page-header {
  width: 100vw;
  margin: 0;
  background-color: #0069c0;
}

.container {
  display: flex;
  min-height: 100vh;
  background-color: #2196f3;
  flex-wrap: wrap;
  align-content: flex-start;
}

.requirement-header {
  width: 100%;
  margin: 0;
  color: #fff;
  background-color: #29434e;
}

.resource {
  margin: 2%;
  min-height: 15vh;
  max-width: 300px;
  border: 2px groove #546E7A;
  border-radius: 5px;
  box-shadow: 2px 1px 10px #819ca9;
  background-color: #819ca9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.requirements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.requirement {
  display: flex;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 5%;
}

.resource:hover {
  background-color: #2196F3;
}


.type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid mistyrose;
  width: 100%;
}

.type-header {
  min-width: 100%;
  background: #dceffd;
  margin: 0;
}
