body {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
}

.page-header {
  width: 100vw;
  margin: 0;
  background-color: #0069c0;
}

.container {
  display: flex;
  min-height: 100vh;
  background-color: #2196f3;
  flex-wrap: wrap;
  align-content: flex-start;
}

.requirement-header {
  width: 100%;
  margin: 0;
  color: #fff;
  background-color: #29434e;
}

.resource {
  max-width: 300px;
  border: 2px groove #546E7A;
  background-color: #819ca9;
}

.requirements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}

.requirement {
  display: flex;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.resource:hover {
  background-color: #2196F3;
}
